################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoundCatalogAPI/v15/.suo
/Documentation/~$thentication Entity framework.docx
